.vscode/
__pycache__/
*.dSYM/
.pytest_cache/
.DS_Store
temp/
*.o
*.so


results/**


thesis_results/**/*.bmp
thesis_results/**/result-dict.json
thesis_results/**/simulation-params.json
thesis_results/**/iterative-params.json
thesis_results/**/params.json
thesis_results/**/*.log
thesis_results/**/bitmap_results/*.png