.vscode/
__pycache__/
*.dSYM/
.pytest_cache/
.DS_Store
temp/
*.o
*.so


results/**


thesisResults/**/*.bmp
thesisResults/**/result-dict.json
thesisResults/**/simulation-params.json
thesisResults/**/iterative-params.json
thesisResults/**/params.json
thesisResults/**/*.log
thesisResults/**/bitmap_results/*.png