.vscode/
__pycache__/
*.dSYM/
.pytest_cache/
.DS_Store
temp/
*.o
*.so


results/**


thesis-results/**/*.bmp
thesis-results/**/result-dict.json
thesis-results/**/simulation-params.json
thesis-results/**/iterative-params.json
thesis-results/**/params.json
thesis-results/**/*.log
thesis-results/**/bitmap_results/*.png